*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: black;
    color: #33ff66;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container-narrow {
    margin: 0 auto;
    max-width: 960px;
  }
.main {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  margin-bottom: 30px;
}

select {
  border: 1px solid #33ff66;
  color: #33ff66 !important;
  background: transparent !important;
  border-radius: 0;
  outline: none;
  font-size: 20px;
  height: fit-content;
  padding: 5px;
}

option {
  color: black;
}

button {
  color: #33ff66;
  background: none;
  border: 1px solid #33ff66;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
button:hover{
  color: black;
  background-color: #33ff66;
}

canvas {
    border: 4px solid #33ff66;
    display: block;
    margin: 0 auto;
    float: left;
    margin-right: 30px;
    scrollbar-width: none;
}

.commands {
    width: 100px;
}

a {
  color: #33ff66;
  padding: 2px 5px;
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  background: #33ff66;
  color: black;
  text-decoration: none;
}